//How it works section
.section.how-it-works{
  margin-top: -150px;
  @include media-breakpoint-down(sm) {
    margin-top: -100px;
  }
}

.step-container{
  .container{
    padding: 0!important;
  }
  .step{
    padding: 0!important;

    .step-title{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: .9em;
      color: $blue;
      font-weight: bold;
    }

    .step-description{
      margin-top: 45px;
      text-align: center;
    }

    .cta-wrapper{
      text-align: center;
      
      .step-cta{
        &:hover, &:active, &:focus{
          text-decoration: none;
          outline: none;
        }
      }

      .arrow{
        padding: 5px 8px;
        border-radius: 25px;
        background: $gray-lighter;
        svg{
          height: 30px;
        }
      }
    }

    .line{
      width: 100%;
      height: 2px;
      display: inline-block;

      border-width: 2px;
      border-bottom-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-color: $purple;
      border-style: solid;

      &.half{
        width: 49%;
      }

      &.line-1{
        width: 800px;
        margin-left: -800px;
      }

      &.line-0, &.line-1{
        border-color: $blue;
        border-style: dotted;
      }

      &.line-4{
        width: 800px;
      }
    }

    .icon-wrapper{
      text-align: center;
      svg{
        position: absolute;
        width: 60px;
        height: 60px;
        margin-top: -39px;
        margin-left: -30px;
        .white-background{
          fill: $white;
          transform: rotate(180deg);
          transform-origin: top;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .container{
      padding: 0 15px !important;
      margin-left: 40px;
      .step{
        padding: inherit !important;

        &:nth-of-type(1), &:nth-of-type(2){
          border-left: 2px solid $purple;
        }

        .step-title{
          position: absolute;
          text-align: left;
          width: 50%;
          margin: 10px 45px;
        }

        .step-description{
          margin: 65px auto 10px;
          text-align: left;
        }

        .cta-wrapper{
          margin: -10px 0 10px 0;
          position: relative;
          text-align: left;
        }

        .line{
          display: none;
        }

        .icon-wrapper{
          position: relative;
          text-align: left;
          svg{
            margin-top: -1px;
            .cls-2{
              transform: rotate(90deg);
              transform-origin: top;
            }
          }
        }

      }
    }
  }


}


.ideal-panel{
  img{
    height: 400px;
    float: left;
  }
  .panel-text{
    height: 400px;
    display: inline-block;
    width: 40%;
    margin-left: -100px;
    background: $blue;
    opacity: .8;
    -webkit-box-shadow: -80px 0px 0px 0px rgba(0,155,221,.5);
    -moz-box-shadow: -80px 0px 0px 0px rgba(0,155,221,.5);
    box-shadow: -80px 0px 0px 0px rgba(0,155,221,.5);
    transition: box-shadow .5s;
  }

  .svg-wrapper{
    width: 100%;
    right: -88px;
    bottom: -30px;
    svg{
      width: 80px;
    }
    span{
      position: absolute;
      top: 30px;
      width: 100px;
      right: 90px;
      color: $white;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity .5s;
    }
  }

  &:hover{
    .panel-text{
      -webkit-box-shadow: -120px 0px 0px 0px rgba(0,155,221,.5);
      -moz-box-shadow: -120px 0px 0px 0px rgba(0,155,221,.5);
      box-shadow: -120px 0px 0px 0px rgba(0,155,221,.5);
      transition: box-shadow .5s;
    }
    .svg-wrapper span{
      opacity: 1;
      transition: opacity .5s;
    }
  }

  &.inverted{
    img, .panel-text{
      float: right;
    }
    .panel-text{
      margin-right: -100px;
      -webkit-box-shadow: 80px 0px 0px 0px rgba(0,155,221,.5);
      -moz-box-shadow: 80px 0px 0px 0px rgba(0,155,221,.5);
      box-shadow: 80px 0px 0px 0px rgba(0,155,221,.5);
    }
    .svg-wrapper{
      margin-left: -86px;
      position: absolute;
      bottom: 15px;
      right: initial;
      text-align: left;
      width: auto;
      span{
        position: absolute;
        top: 30px;
        width: 100px;
        left: 80px;
        color: $white;
        text-transform: uppercase;
      }
    }
  }

  &.purple{
    &.inverted{
      .panel-text{
        background: $purple;
        -webkit-box-shadow: 80px 0px 0px 0px rgba(92, 107, 190, 0.5);
        -moz-box-shadow: 80px 0px 0px 0px rgba(92, 107, 190, 0.5);
        box-shadow: 80px 0px 0px 0px rgba(92, 107, 190, 0.5);
        transition: box-shadow .5s;
      }

      &:hover{
        .panel-text{
          -webkit-box-shadow: 120px 0px 0px 0px rgba(92, 107, 190, 0.5);
          -moz-box-shadow: 120px 0px 0px 0px rgba(92, 107, 190, 0.5);
          box-shadow: 120px 0px 0px 0px rgba(92, 107, 190, 0.5);
          transition: box-shadow .5s;
        }
      }

    }
  }

  &.aqua{
    .panel-text{
      opacity: .9;
      background: $aqua;
      -webkit-box-shadow: -80px 0px 0px 0px rgba(48, 219, 214, 0.5);
      -moz-box-shadow: -80px 0px 0px 0px rgba(48, 219, 214, 0.5);
      box-shadow: -80px 0px 0px 0px rgba(48, 219, 214, 0.5);
      transition: box-shadow .5s;
    }

    &:hover{
      .panel-text{
        -webkit-box-shadow: -120px 0px 0px 0px rgba(48, 219, 214, 0.5);
        -moz-box-shadow: -120px 0px 0px 0px rgba(48, 219, 214, 0.5);
        box-shadow: -120px 0px 0px 0px rgba(48, 219, 214, 0.5);
        transition: box-shadow .5s;
      }
    }
    .svg-wrapper{
      span{
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  @include media-breakpoint-down(md) {
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
    .panel-text{
      height: 100%;
      width: 100%;
      margin: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: .8;
      padding: 15px 25px !important;
    }
    
    .svg-wrapper{
      width: 100%;
      text-align: left;
      position: relative;
      right: 0;
      left: 0;
      bottom: 0;
      margin-left: 0;
      svg{
        width: 40px;
      }
      span{
        top: 10px;
        left: 45px;
        opacity: 1;
      }
    }
    
    &.inverted{
      .svg-wrapper{
        width: 100%;
        text-align: left;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: 0;
        svg{
          width: 40px;
        }
        span{
          top: 10px;
          left: 45px;
          opacity: 1;
        }
      }
    }

  }
  @include media-breakpoint-down(xs) {
    .panel-text{
      opacity: 1!important;
      padding: 5px 25px !important;
      p{
        line-height: 1.3em;
      }
      br{
        display: none;
      }
    }

    .svg-wrapper{
      top: -10px;
    }
  }

}
