.solution-top-section{
	min-height: 350px;
	
	.gradient-overlay{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .8;
	}

	&.forLegal{
		background-image: url('/images/homepage/legal.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	    background-position-x: left;
	    background-position-y: 50%;
	}

	&.forConsulting{
		background-image: url('/images/homepage/it_consulting_team.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
	    background-position-x: left;
	    background-position-y: 30%;
	}

	&.forIT{
		background-image: url('/images/homepage/agency_team.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	    background-position-x: left;
	    background-position-y: 30%;
	}
}